<link rel="stylesheet" href="{{ paths.theme }}css/components/blocks/upcoming.css">

{% set number = group.number|replace({'\\': ""}) %}

{% if number == 1 or number is empty %}
    {% set number = 3 %}
{% endif %}

{% setcontent blog = "upcoming/upcoming/#{number}" %}

<div class="container block upcoming-events">
    <div class="row">
        {% if group.title is defined %}
        <div class="col-12 upcoming-events-title">
            <h2>{{ group.title }}</h2>
        </div>
        {% endif %}
        {% for blogpost in blog %}
            <a href="blogpost/{{ blogpost.slug }}" class="col-xs-12 col-sm-6 col-lg upcoming-event">
                <div class="upcoming-event-title">
                    {% if group.title is defined %}
                        <h3>{{ blogpost.title }}</h3>
                    {% else %}
                        <h2>{{ blogpost.title }}</h2>
                    {% endif %}
                </div>
                <div class="upcoming-event-preview">
                    {{ blogpost.preview }}
                </div>
                <div class="upcoming-event-date">
                    {{ blogpost.datecreated|date("d/m/Y") }}
                </div>
            </a>
        {% endfor %}
    </div>
</div>
